<div>
    <h1>Check certtificate body. Construction going on</h1>
</div>


<div>
    <div class="row">
      <!-- <div class="col-lg-8">
        <app-product></app-product>
      </div> -->
    </div>
  </div>