<!-- Cards -->
<div class="row">
  <div class="col-lg-4" *ngFor="let card of cards">
    <mat-card class="overflow-hidden">
      <div>
        <img src="{{ card.image }}" class="w-100" alt="">
      </div>
      <mat-card-content>
        <div>
          <p class="fs-18 lh-lg fw-medium text-center">
            {{ card.caption }}
          </p>
          <p class="op-7 text-center">
            {{ card.breif }}
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
