@mixin text-center(){
    // color: #02a0ac;
    // padding: 20px;
    text-align: center;
  }

  .text-center {
    @include text-center()
  }

  .mat-mdc-card-content {
    padding: 20px !important;
}

.mat-mdc-card {
    border-radius: 80px !important;
}

.w-100 {
    width: 50%;
}