<div>
    <h1>Course-Setting body. Construction going on</h1>
</div>
<app-course-table></app-course-table>

<!-- Form Layout -->
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Form Layout</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Course Title*</mat-label>
        <input matInput type="text"  placeholder="Enter Course Name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Course Subtitle</mat-label>
        <input matInput type="text"  placeholder="Enter Extra name if needed (Ex: Short course)">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Teacher's Username</mat-label>
        <input matInput type="text" placeholder="Enter correct username">
      </mat-form-field>
      <!--  TODO::show full name here -->


      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>About the course (Brief)</mat-label>
        <textarea matInput rows="4" placeholder="Write briefly about the course" ></textarea>
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>About the course (Details)</mat-label>
        <textarea matInput rows="6" placeholder="Write about the course in details" ></textarea>
      </mat-form-field>

      <!-- <section class="fs-16 mb-32">
        <mat-checkbox color="primary" [checked]="checked" class="d-block mb-16">Terms & Condition</mat-checkbox>
        <mat-checkbox class="op-7" [disabled]="true">Disabled</mat-checkbox>
      </section> -->

      <mat-radio-group color="primary" class="fs-16" aria-label="Select an option">
        <mat-label class="text-secondary">Broadcast Type</mat-label>
        <mat-radio-button value="1" class="mt-8 mb-16 d-block" [checked]="checked">Recorded</mat-radio-button>
        <mat-radio-button value="2" class="d-block mb-16">Live</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Upload intro image</mat-label>
        <input matInput type="text" placeholder="Upload intro image (400x600)">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Upload intro video</mat-label>
        <input matInput type="text" placeholder="Upload intro video ">
      </mat-form-field>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Upload full video</mat-label>
        <input matInput type="text" placeholder="Upload full video">
      </mat-form-field>
      <input type="file" class="file-input"
      (change)="onFileSelected($event)" #fileUpload>

      <!-- file uploading panel -->
<div class="file-upload">

  {{fileName || "No file uploaded yet."}}

   <button mat-mini-fab color="primary" class="upload-btn"
     (click)="fileUpload.click()">
     <i-feather name="upload" class="feather-base me-4">Upload file</i-feather>
   </button>
</div>
 <!-- file uploading panel end -->

      <button mat-button class="btn btn-info fw-normal" (click)="onBack()" type="submit">Submit</button>
    </form>
  </div>
</div>
