  @mixin detail-para (){
   // color: #03c9d7;
    padding: 30px;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    color: #3d405b;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5715;
    text-align: justify;
  }

  .detail-para {
    @include detail-para()
  }
  
  