.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card-image {
  overflow: hidden;
 
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-details {
  padding: 16px;
}
.mat-card-row {
  padding-bottom: 10px;
}