<div>
    <h1>My-Course body. Construction going on</h1>
</div>

<div class="row">
    <div class="col-lg-12" *ngFor="let card of cards">
        
      <!-- <mat-card class="overflow-hidden">
        <div class="col-lg-4">
          <img src="{{ card.image }}" class="w-100" alt="">
        </div>
        <mat-card-content>
          <div  class="col-lg-8">
            <p class="fs-18 lh-lg fw-medium">
              Super awesome, Angular 12 is coming soon!
            </p>
            <p class="op-7">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <button mat-flat-button color="{{card.btn}}" class="fw-normal mt-4">Learn More</button>
          </div>
        </mat-card-content>
      </mat-card> -->


      <mat-card class="card-container">
        <mat-card-header class="mat-card-row">
          <!-- 5 columns for the image -->
          <div class="card-image" fxFlex="30">
            <img src="{{ card.image }}" alt="Image Alt Text">
          </div>
      
          <!-- 7 columns for details text -->
          <div class="card-details" fxFlex="70">
            <mat-card-title>Card Title sdfsdf sdfsdf ddfggd ggdf gdgdg dfdf </mat-card-title>
            <mat-card-subtitle>Card Subtitle sfsdf sdfsf  sfsdfsdf sfsdfsdf sdfsdfsd sdfsdf sd </mat-card-subtitle>
            <mat-card-content>
              <!-- Your details text goes here --> sdfsdfsdf df sdfsd fsdfsd fsdf sdfsdfdsf sdfsdfsdf sdfsdfsdf sdfsdf sdfsdfsd fsdf sd
            </mat-card-content>
          </div>
        </mat-card-header>
      
      </mat-card>



    </div>
  </div>

