.table-responsive {
  overflow-x: auto;
}

td.mat-cell {
  padding: 16px;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding: 16px;
}

th.mat-header-cell {
  padding: 16px;
}

.mat-header-cell {
  font-size: 14px;
}

.max-width-100 {
  max-width: 100px; /* Set a maximum width */
}

.h-effect {
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  color: #333; /* Text color */
  margin: 10px 0; /* Margin (top and bottom) */
  padding: 10px; /* Padding */
}