



.carousel-item {
  padding: 0 14px !important; /* Adjust the spacing as needed */
}

.owl-next, .owl-prev{
  background: #ffffffea !important;
  color: #222 !important;
  height: 60px !important;
  width: 60px !important;
  border-radius: 50% !important;
}