<div>
    <h1>Teacher-Setting body. Construction going on</h1>
</div>

<!-- Form Layout -->
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Form Layout</h4>
    <form>
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Teacher's Username*</mat-label>
        <input matInput type="text"  placeholder="Enter correct username">
      </mat-form-field>
<!--  TODO::show full name here -->

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Degree*</mat-label>
        <input matInput type="text"  placeholder="Degree (Ex: BSc MSc etc)">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>University*</mat-label>
        <input matInput type="email" placeholder="Enter university full name">
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>About the teacher (Brief)*</mat-label>
        <textarea matInput rows="4" placeholder="About the teacher in brief" value="Default Value"></textarea>
      </mat-form-field>
      
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Upload professional image</mat-label>
        <input matInput type="text" placeholder="Upload professional image (400x600)">
      </mat-form-field>

      <button mat-button class="btn btn-info fw-normal" (click)="onBack()" type="submit">Submit</button>
    </form>
  </div>
</div>
