


<div>
  <app-headline title="Enhancing Your Professional Skills at Your Touchpoint."></app-headline>
  <div class="row">
    <div class="col-lg-6">
      <img class="intro_img" src="assets/images/intro-img.png" alt="Image Alt Text">
    </div>
    <div class="col-lg-6">
      <app-details-paragraph 
        para="Professional Skill Development is a top online learning hub offering diverse 
        courses curated by industry experts. Ideal for students, engineers, and professionals, our platform enables accessible learning,
        unlocking skills beyond traditional settings for a lucrative professional journey."
        >
      </app-details-paragraph>
    </div>
  </div>
</div>

  <div>
    <app-headline title="Why Choose US?"></app-headline>
    <app-cards-choose-us></app-cards-choose-us>
  </div>

  <div>
    <app-headline title="Top Courses"></app-headline>
    <app-cards></app-cards>
  </div>

  <div>
    <app-headline title="Top Courses slider"></app-headline>
    <app-slider> </app-slider>
  </div>


  <div>
    <app-headline title="Students Profile"></app-headline>   
    <app-cards></app-cards>
  </div>

